<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Plesk/IIS: serve Next.js static assets directly from .next/static. -->
        <rule name="NextStaticAssets" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>

        <!-- Plesk/IIS: forward application routes to the Node.js server. -->
        <rule name="NextNodeServer" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
